<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head'); %>

        <style>
            .eye-icon {
                position: absolute;
                top: 60%;
                right: 0;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <!-- Reset by Providing Old Password -->
        <form
            action="/password/reset/existing-password"
            method="post"
            class="container p-3 w-50 mx-auto"
        >
            <h4 class="mt-3">Reset by Providing Old Password</h4>
            <p>You can reset your password by providing your old password.</p>

            <% const inputs = [ { id: 'old_password', label: 'Old Password' }, {
            id: 'new_password', label: 'New Password' }, { id:
            'confirm_new_password', label: 'Confirm New Password' } ]; %> <%
            inputs.forEach(input => { %>
            <div class="mb-3 position-relative">
                <label for="<%= input.id %>" class="form-label"
                    ><%= input.label %></label
                >
                <input
                    type="password"
                    name="<%= input.id %>"
                    class="form-control"
                    id="<%= input.id %>"
                />
                <svg
                    class="eye-icon"
                    data-target="<%= input.id %>"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path
                        d="M12 15c-2.76 0-5-2.24-5-5s2.24-5 5-5s5 2.24 5 5s-2.24 5-5 5zm0-8a2 2 0 1 0 0 4a2 2 0 0 0 0-4zm0 3a1 1 0 1 1 0-2a1 1 0 0 1 0 2z"
                    />
                </svg>
            </div>
            <% }); %> <% if (typeof mismatch_error !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= mismatch_error %>
            </div>
            <% } %> <% if (typeof error_message !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= error_message %>
            </div>
            <% } %>

            <!-- Success message -->
            <% if (typeof success_message !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= success_message %>
            </div>
            <a href="/dashboard" class="btn btn-primary"
                >Navigate to Dashboard</a
            >
            <% } else { %>
            <button type="submit" class="btn btn-primary">
                Reset Password
            </button>
            <% } %>
        </form>

        <script>
            // Toggle show password
            document.querySelectorAll(".eye-icon").forEach((icon) => {
                icon.addEventListener("click", function () {
                    const inputId = this.getAttribute("data-target");
                    const input = document.getElementById(inputId);
                    input.type =
                        input.type === "password" ? "text" : "password";
                });
            });
        </script>
    </body>
</html>